html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
body {
    background-color: #f6f6f6;
    font-size: 1.5rem;
    /* position: relative;
    font-size: 1.6rem; */
}
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.bubble-container {
    height: 0px;
}
.bubble{
    position: relative;
    left: 20px;
    top: 18px;
}
.Fav-length{
    background-color: #E9725A;
    border-radius: 15px;
    color: #fff;
    padding: 2px 10px;
    width: 20px;
}
.navbar-image {
    height: 64px;
}
.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    margin-left: 50px;
}
.searchbar {
    background: white;
}

.searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px rgb(0,0,0,0.25);
    border-radius: 8px;
    border: none;
    height: 54px;
    width: 800px;
    font-size: 30px;
    text-align: center;
}
.searchbar input::placeholder {
    font-size: 30px;
    text-align: center;
}

.searchbar input:focus {
    outline: none;
}

.searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 100%;
    color: white;
    height: 54px;
    width: 54px;
    cursor: pointer;
    margin-right: 5rem;
}
.lupa {
    width: 24px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* gap: 800px; */
    align-items: center;
    padding: 1rem;
    margin-right: 150px;
    margin-left: 150px;
}
.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 5px;
    align-items: center;
    justify-items: center;

}
.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.25);
    border-radius: 8px;
    margin-bottom: 30px;
    width: 380px;
    
}
.pokemon-img-container {
    padding: 0px;
}
.pokemon-img {
    width: 100px;
    /* cursor: pointer; */
}
h3 {
    font-size: 1.9rem;
    /* cursor: pointer; */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    align-items: center;
}
.card-top h3 {
    text-transform: capitalize;
}
.btn-heart {
    cursor: pointer;
    border: none;
    background-color: #f6f6f6;
}
.id-pokemon {
    color: #ABABAB;
    margin-right: 5px;
    font-weight: 500;
    font-size: 1.6rem;
}
.mini-heart {
    width: 22px;
}
.black-heart{
    filter: none;
    width: 18px;
    -webkit-filter: grayscale(100%);
}
.pokemon-type {
    display: flex;
}
.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0px 10px 10px 10px;
    align-items: center;
}
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}
.boton-flecha {
    border: none;
    background-color: #363636;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.boton-flecha-der {
    transform: scaleX(-1);
    
}
.pokebola-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokebola-p {
    font-size: 50px;
    text-transform: uppercase;
}
.pokebola {
    width: 400px;
    margin: auto auto;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.not-found-text {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 170px;
    background: linear-gradient(to top, #3760a87c, #f6f6f6);
}
.pokeapi-footer-container {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.pokeapi-footer {
    cursor: pointer;
    width: 200px;
}

.bubble-pokeapi{
    position: relative;
    left: -30px;
    top: 0px;
}
.version {
    width: 40px;
}
.update-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.update-title {
    font-size: 1.8rem;
    color: #3761A8;
    text-align: center;
    font-weight: 600;
}
.updates {
    color: #3761A8;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    font-size: 1.5rem;
}
.redes-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.redes-title {
    font-size: 1.8rem;
    color: #3761A8;
    font-weight: 600;
}
.redes {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.pointer{
    cursor: pointer;
}
.copy {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    color: #3761A8;
}
.copy-text{
    font-size: 1.4rem;
}
